/* здесь используйте глобальные переменные */

// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$subtitles-color: #222222;
$text-color: #444444;
$decorative-grey: #d9d9d9;
$decorated-light-grey: #e6e6e6;
$decorated-grey-second: #cdcdcd;
$special-grey: #666666;
$special-grey-second: #ebebeb;
$special-grey-third:#d3d3d3;
$dark-grey: #eaeaea;

// Размеры вьюпортов
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Шрифты
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
