/* GLOBAL */
@import "common/variables";
@import "common/mixins";
@import "common/fonts";
@import "common/global";
@import "common/visually-hidden";

/* BLOCKS */
@import "blocks/page";
@import "blocks/container";
@import "blocks/main-header";
@import "blocks/logo-image";
@import "blocks/logo-text";
@import "blocks/nav-list";
@import "blocks/section-title";
@import "blocks/decorated-title";
@import "blocks/button";
@import "blocks/input";
@import "blocks/main-content";
@import "blocks/hero";
@import "blocks/programs";
@import "blocks/program-card";
@import "blocks/application";
@import "blocks/application-card";
@import "blocks/experience";
@import "blocks/slider";
@import "blocks/map";
@import "blocks/address";
@import "blocks/main-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/catalog";
@import "blocks/product-list";
@import "blocks/product-card";
@import "blocks/additions";
@import "blocks/addition-card";
@import "blocks/subscribe";
@import "blocks/section-form";
@import "blocks/form";
@import "blocks/radio-button";
@import "blocks/textarea";
@import "blocks/checkbox";
