/* GLOBAL */
@import "./common/variables";
@import "./common/global";
@import "./common/fonts";
@import "./common/visually-hidden";


/* BLOCKS */
@import "./blocks/page";
@import "./blocks/header";
@import "./blocks/main-nav";
@import "./blocks/nav-list";
@import "./blocks/container";
@import "./blocks/logo";
@import "./blocks/main";
@import "./blocks/hero";
@import "./blocks/card";
