.additions-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 800px;
    margin: 0 auto 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.additions-list__item {
  position: relative;
  border-bottom: 1px solid $color-very-light-grey;

  &:first-child {
    border-top: 1px solid $color-very-light-grey;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $color-very-light-grey;

    &:not(:first-child) {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-bottom: 1px solid $color-very-light-grey;

    &:first-child {
      border-top: 1px solid $color-very-light-grey;
    }
  }
}
