.additions {
  margin-bottom: 40px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
  }
}

.additions__title {
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-left: 0;
  }
}

.additions__wrap-content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 81px;
  }
}

.additions__list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 800px;
    margin: 0 auto 69px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.additions__list-item {
  position: relative;
  border-bottom: 1px solid $color-very-light-grey;

  &:first-child {
    border-top: 1px solid $color-very-light-grey;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $color-very-light-grey;

    &:not(:first-child) {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-bottom: 1px solid $color-very-light-grey;

    &:first-child {
      border-top: 1px solid $color-very-light-grey;
    }
  }
}

.additions__gift {
  min-height: 290px;
  padding: 59px 59px 30px;
  display: flex;
  justify-content: center;
  background-image: url("../../images/gift_background_mobile@1x.jpg");
  background-color: $color-apple;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/gift_background_mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding: 27px 125px 28px 77px;
    background-image: url("../../images/gift_background_tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/gift_background@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 288px;
    padding: 56px 30px 43px;
    background-image: url("../../images/gift_background_desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/gift_background_desktop@2x.jpg");
    }
  }
}

.additions__text {
  width: 161px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 35px;
  text-align: center;
  color: $color-white;
  font-size: 16px;
  line-height: 1.25;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
      justify-self: start;
    }

    @media (min-width: $desktop-width) {
      justify-self: center;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 708px;
    grid-template-columns: 1fr 161px;
    align-items: center;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}
