.additions-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $decorated-grey-second;
  }

  @media (min-width: $tablet-width) {
    max-width: 800px;
    margin: 0 auto 75px;
  }

  @media (min-width: $tablet-width) {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.additions-list__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $decorated-grey-second;
  }
}
