.addition-card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 285px 244px;
    column-gap: 40px;
    align-items: center;
    padding: 15px 0 17px;
  }
}

.addition-card__link {
  display: block;
  text-decoration: none;
}

.addition-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $color-special-black;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.addition-card__info {
  margin: 0;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  color: $color-charcoal;
  font-size: 14px;
  line-height: 1;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    line-height: 1.25;
  }
}

.addition-card__info dd {
  margin: 0;
}

.addition-card__button {
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}
