.application {
  margin-bottom: 49px;
  position: relative;
  counter-reset: item-number;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -47px;
      background-color: $color-whisper;
    }

    @media (min-width: $desktop-width) {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.application__title {
  margin: 0;
  line-height: 1.11;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.application__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    max-width: 850px;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(230px, auto));
    gap: 37px 0;
    justify-content: space-between;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    grid-template-columns: repeat(4, minmax(248px, auto));
    padding-right: 0;
  }
}
