.burger {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  transition:
    transform 0.3s ease,
    opacity 0.2s;

  &--top {
    transform: translate(-50%, calc(-50% - 8px));
  }

  &--bottom {
    transform: translate(-50%, calc(-50% + 8px));
  }
}

.is-opened .burger__line--top {
  transform: translate(-50%, -50%) rotate(45deg);
}

.is-opened .burger__line--middle {
  opacity: 0;
}

.is-opened .burger__line--bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
}
