.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  background-color: $color-apple;
  cursor: pointer;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.25;
  transition: background-color 0.3s, opacity 0.3s;

  &:hover {
    background-color: $color-limeade;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--dim {
    color: $color-charcoal;
    background-color: $color-white-smoke;

    &:hover {
      background-color: $color-whisper;
    }

    &:active {
      color: $color-charcoal;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}
