.card {
  max-width: 280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 81px 0 0;
    max-width: 324px;
    background-image: linear-gradient(to bottom, transparent 81px, $basic-grey 81px);
  }
}

.card__inner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 37px 40px;
  }
}

.card__link-image {
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: -81px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      grid-row: 1 / 2;
    }
  }
}

.card__image {
  max-height: 100%;
  object-fit: cover;
}

.card__link {
  display: block;
  text-decoration: none;
}

.card__title {
  margin: 0;
  margin-bottom: 14px;
  max-width: 76px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $subtitles-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin: 0 auto 21px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__subtitle {
  display: none;
}

.card__info {
  margin: 0;
  margin-bottom: 17px;
  list-style: none;
  font-size: 12px;
  line-height: 1.33;
  color: $text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.card__info-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    border-bottom: 1px solid $decorated-grey-second;
  }
}

.card__info dd {
  margin: 0;
}

.card__button {
  grid-column: 1 / -1;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.card--last {
  display: block;
  height: 100%;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 81px 0 0;
    background-image: none;
  }
}

.card--last .card__inner {
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto auto 1fr;
  border: 2px solid $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;
  }
}

.card--last .card__link-image {
  position: relative;
  margin-bottom: 23px;
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $special-grey-third;
  }

  @media (min-width: $tablet-width) {
    min-height: 161px;
    width: 100%;
    margin: 0;

    &::after,
    &::before {
      width: 60px;
    }
  }

  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}

.card--last .card__image {
  display: none;
}

.card--last .card__title {
  margin: 0;
  max-width: 100%;
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin-bottom: 23px;
  }
}

.card--last .card__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 1.33;
  color: $text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    text-align: center;
    font-size: 16px;
    line-height: 1.13;
  }
}

.card--last .card__info {
  display: none;
}
