.checkbox {
  position: relative;
  display: block;
  padding-left: 45px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $color-charcoal;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.checkbox__input + .checkbox__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-very-light-grey;
  transition: border-color 0.3s;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__input:checked + .checkbox__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  mask-image: url("../../icons/stack.svg#tick");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: $color-apple;
}

.checkbox:hover .checkbox__mark {
  border-color: $color-silver;
}

.checkbox__input:focus + .checkbox__mark {
  border-color: $color-black;
}

.checkbox__input:disabled + .checkbox__mark {
  opacity: 0.3;
  pointer-events: none;
}

.checkbox__input:disabled ~ .checkbox__label {
  opacity: 0.3;
  pointer-events: none;
}

.checkbox__label {
  display: block;
  padding: 6px 0;
}

