.container {
  max-width: $desktop-width;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    &--narrow {
      max-width: 1000px;
      padding: 0 70px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;

    &--narrow {
      max-width: $desktop-width;
      padding: 0 40px;
    }
  }
}
