.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    width: 168px;
    justify-self: flex-end;
  }
}

.copyright__logo-text {
  padding: 10px 10px 10px 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  transition: opacity 0.3s;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  width: 27px;
  height: 34px;
  color: inherit;
  transition: opacity 0.3s, color 0.3s;

  &:hover {
    color: $color-apple;
  }

  &:active {
    opacity: 0.3;
  }
}

