.decorated-title {
  position: relative;
  width: max-content;
  margin: 0;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: calc(100% + 20px);
    right: calc(100% + 20px * 2 - 100vw);
    height: 2px;
    background-color: $color-apple;

    @media (min-width: $tablet-width) {
      top: 24px;
      left: calc(100% + 40px);
      right: calc(100% + 40px * 2 - 100vw);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: calc(100% + 20px - 100vw);
    right: calc(100% + 20px);
    height: 2px;
    background-color: $color-apple;

    @media (min-width: $tablet-width) {
      top: 24px;
      left: calc(100% + 40px - 100vw);
      right: calc(100% + 40px);
    }
  }
}
