.decorated-title {
  position: relative;
  width: max-content;
  margin: 0;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(0.5em - 2px);
    left: calc(100% + 40px);
    width: 100vw;
    height: 2px;
    background-color: $color-apple;

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(0.5em - 2px);
    right: calc(100% + 20px);
    width: 100vw;
    height: 2px;
    background-color: $color-apple;

    @media (min-width: $tablet-width) {
      right: calc(100% + 40px);
    }
  }
}
