.experience {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $color-whisper-third;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    background-image: linear-gradient(to top, $color-whisper-third 462px, $color-white 462px);
    padding-top: 45px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $color-white 136px, $color-whisper-third 136px);
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.experience__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    justify-content: space-between;
  }
}

.experience__title {
  margin: 0;
  margin-bottom: 40px;
  color: $color-black;
  line-height: 1.11;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.experience__info {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 433px;
    margin-bottom: 69px;
  }
}

.experience__wrap-result {
  @media (min-width: $tablet-width) {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    max-width: 367px;
    flex-direction: column;
  }
}

.experience__list {
  margin: 0 auto 34px;
  max-width: 280px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    max-width: 367px;
    column-gap: 43px;
    margin: 0 0 99px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
  }
}

.experience__item {
  min-height: 56px;
  padding-top: 15px;
  border-radius: 3px;
  border: 1px solid $color-very-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience__number {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 11px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.experience__description {
  margin: 0 auto;
  width: min-content;
  padding: 0 11px;
  background-color: $color-whisper-third;
  text-align: center;
  font-size: 12px;
  line-height: 1;

  &:last-child {
    margin-bottom: -12px;
  }

  @media (min-width: $tablet-width) {
    width: fit-content;
    max-width: calc(100% - 18px);
    padding: 0 8px;
    background-color: $color-white;
    font-size: 14px;

    &:last-child {
      margin-bottom: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $color-whisper-third;
  }
}

.experience__expenses {
  margin: 0 auto 20px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-self: end;
    gap: 9px;
    padding-top: 11px;
    font-size: 20px;
    text-align: right;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    justify-self: start;
    flex-direction: row;
    gap: 63px;
    padding-top: 0;
  }
}

.experience__slider {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
