.field-group {
  &--bottom-lined {
    position: relative;

    &::after {
      content: "";
      background-color: #ebebeb;
      width: 100vw;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: calc(50% - 50vw);
    }
  }
}

.field-group__pet-item {
  padding-bottom: 24px;

  & li:not(:last-child) {
    margin-bottom: 14px;
  }
}

.field-group__choose-programm {
  padding-top: 22px;
  padding-bottom: 19px;

  & li:not(:last-child) {
    margin-bottom: 13px;
  }
}

.field-group__owner-data {
  padding-top: 26px;
  padding-bottom: 24px;
}
