.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    min-height: 56px;
  }
}

.form__field-group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
