.form__top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__pet-data {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  width: 100%;
  padding: 0;
  padding-bottom: 24px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }


  &::after {
    content: "";
    background-color: $color-whisper;
    width: 100vw;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50vw);

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.form__pet-data .form__list-item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__choose-program {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-bottom: 19px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 23px 27px 27px;
    border: 1px solid $color-whisper-third;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 25px 28px;
  }

  &::after {
    content: "";
    background-color: $color-whisper;
    width: 100vw;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50vw);

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.form__choose-program .form__list-item:not(:last-child) {
  margin-bottom: 13px;
}

.form__owner-data {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.form__owner-data .form__inputs-list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__owner-data .form__list-item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__owner-data .decorated-title {
  max-width: 187px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 76px;
  }
}

.form__comment {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__comment .decorated-title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }
}

.form__choose-additions {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.form__choose-additions .decorated-title {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__choose-additions .form__inputs-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form__choose-additions .form__list-item:not(:last-child) {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__bottom {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.form__button {
  max-width: 550px;
  margin: 0 auto 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.form__remark {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;

  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}
