.inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-list__pet-item:not(:last-child) {
  margin-bottom: 14px;
}

.inputs-list__program-item:not(:last-child) {
  margin-bottom: 13px;
}
