.main-footer {
  padding: 40px 0;
  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding: 43px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0;
  }
}

.main-footer__wrap {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.main-footer__social {
  width: 100%;
  margin-bottom: 19px;
}
