.main-nav__list {
  width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;

  @media (min-width: $tablet-width) {
    visibility: visible;
    width: fit-content;
    max-width: 480px;
    position: static;
    margin-left: auto;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.is-opened.main-nav__list {
  opacity: 1;
  visibility: visible;
}
