.map {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__content {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    width: 100%;
    min-height: 199px;
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);
    max-width: 565px;
    gap: 91px;
    z-index: 5;
    padding: 40px 80px;
    background-color: $color-white;
  }
}

.map__invitation {
  width: min-content;
  margin: 0;
  color: $color-special-black;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: min-content;
    font-size: 20px;
    line-height: 1.3;
  }
}

.map__address {
  justify-self: start;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.map__wrap-image {
  position: absolute;
  inset: 0;
}

.map__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.map--dark-background {
  background-color: #f2f2f2;
}

.map__wrap {
  position: relative;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__wrap iframe {
  display: block;
  border: none;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 4;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
