.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  background-color: $basic-white;
  color: $basic-black;
  display: flex;
  flex-direction: column;
}

.no-scroll.page__body {
  overflow: hidden;
}
