.pet-data {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
}

.pet-data__input-wrap {
  display: flex;
  gap: 13px;
}

.pet-data__input {
  width: 100%;
  min-height: 45px;
  margin: 0;
  padding: 14px 15px;
  font: inherit;
  appearance: textfield;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.3s, border 0.3s;
  -o-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
}

.pet-data__input::placeholder {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $color-charcoal;
}
