.product-card {
  min-width: 280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 81px 0 0;
    min-width: 324px;
    background-image: linear-gradient(to bottom, transparent 81px, $color-white-smoke 81px);
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.product-card__inner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100%;
  grid-template-rows: 1fr auto;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 37px 40px;
  }
}

.product-card__link-image {
  width: 100%;
  height: 107px;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    height: 210px;
    margin-top: -71px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-card__image-wrap {
  height: 100%;
}

.product-card__image {
  max-height: 100%;
}

.product-card__link {
  display: block;
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  max-width: 76px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $color-nero;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.product-card__info {
  margin: 0;
  margin-bottom: 7px;
  list-style: none;
  font-size: 12px;
  line-height: 1.33;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.product-card__info-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    border-bottom: 1px solid $color-very-light-grey;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      padding: 5px 0 10px;
      border-bottom: 1px solid $color-very-light-grey;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    border-bottom: 1px solid $color-very-light-grey;
  }
}

.product-card__info dd {
  margin: 0;
}

.product-card__button {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.product-card--last {
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 81px 0 0;
    background-image: none;
  }
}

.product-card--last .product-card__inner {
  padding-top: 53px;
  display: block;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 15px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: $color-light-grey;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 79px;
    }
  }

  &::before {
    transform: translateX(-50%);
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    padding: 160px 37px 40px;
    border: 2px solid $color-white-smoke;
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 149px;
  }
}


.product-card--last .product-card__title {
  margin: 0;
  max-width: 100%;
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.product-card__description {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 1.33;
  color: $color-charcoal;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    font-size: 16px;
    line-height: 1.13;
  }
}
