.program-card {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto 1fr min-content;
  padding: 23px 20px 15px;
  background-color: $color-white-smoke;
  gap: 22px 20px;

  &::before {
    content: "";
    grid-column: 1 / 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-apple;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &--slim::after {
    left: 27px;
    top: 21px;
    width: 36px;
    height: 53px;
    background-image: url("../../icons/stack.svg#cat_slim");
  }

  &--add-weight::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat_pro");
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 200px;
    grid-template-rows: min-content 1fr min-content;
    gap: 24px 53px;
    padding: 77px 63px 48px 52px;

    &::before {
      margin-top: 15px;
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      left: unset;
      right: 93px;
      top: 81px;
      width: 140px;
      height: 194px;
    }

    &--add-weight::after {
      left: unset;
      top: 135px;
      right: 29px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    gap: 21px 62px;
    padding: 47px 61px 52px 52px;

    &::before {
      margin-top: 0;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      right: unset;
      left: 67px;
      top: 41px;
      width: 70px;
      height: 97px;
    }

    &--add-weight::after {
      right: unset;
      top: 67px;
      left: 33px;
      width: 134px;
      height: 56px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.program-card__title {
  margin: 0;
  align-self: center;
  text-transform: uppercase;
  grid-column: 2 / 3;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1.54;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.program-card__description {
  grid-column: 1 / -1;
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.29;
  color: $color-charcoal;

  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-gainsboro;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 1.5;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
}

.program-card__link {
  width: fit-content;
  display: flex;
  gap: 17px;
  align-items: center;
  grid-column: 1 / -1;
  padding: 7px 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-black;

  &::after {
    content: "";
    width: 32px;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url("../../icons/stack.svg#arrow");
    background-repeat: no-repeat;
    background-position: -8px center;
    background-size: 100%;
    transition: background-position-x 0.3s;
  }

  &:hover::after {
    background-position-x: 0;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    gap: 25px;
    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}
