.programs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.programs__list-item {
  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
}

