.radio-button {
  position: relative;
  display: block;
  padding-left: 45px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $color-charcoal;
  cursor: pointer;

  &:hover .radio-button__mark {
    border: 1px solid $color-silver;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.radio-button__input + .radio-button__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-very-light-grey;
  transition: border 0.3s;
}

.radio-button__input[type="radio"] + .radio-button__mark {
  border-radius: 50%;
}

.radio-button__input[type="radio"]:checked + .radio-button__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $color-apple;
}

.radio-button__input:disabled + .radio-button__mark {
  opacity: 0.3;
  pointer-events: none;
}

.radio-button__input:disabled ~ .radio-button__label {
  opacity: 0.3;
  pointer-events: none;
}

.radio-button__label {
  display: block;
  padding: 6px 0;
}
