.section-form {
  padding: 27px 0 32px;
}

.section-form__title {
  margin: 0;
  margin-bottom: 37px;
}

.section-form__description {
  margin: 0;
  margin-bottom: 39px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
