.subscribe {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 104px;
  }
}

.subscribe__title {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.subscribe__wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 632px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 752px;
  }
}

.subscribe__tagline {
  margin: 0;
  margin-bottom: 24px;
  width: 250px;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;


  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 24px;
    line-height: 1.33;
  }
}

.subscribe__form {
  width: 100%;
}
